* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sans Regular';
}

@font-face {
    font-family: 'Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sans  Regular'), url(./assest/google-sans-cufonfonts-webfont/ProductSans-Medium.woff) format('woff');
}


body {
    background: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #202124;
    overflow-x: hidden;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px 14px 12px;
    margin: 0 0 0 12px;
}

.nav-strart {
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-svg a {
    display: flex;
    align-items: center;
}

.navigation {
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a,
.nav-end a {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #e8eaed;
}

.nav-end a {
    color: #fff;
}

.nav-end {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button button {
    font-size: 16px;
    padding: 14px 26px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #2563EB;
    border: none;
    cursor: pointer;
}

.nav-button button:hover {
    background-color: #4285F4;

}

.nav-select select {
    font-size: 15px;
    padding: 8px 25px 8px 16px;
    background: #202124;
    border: none;
    color: #fff;
    outline-color: #2563EB;
    outline-width: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    padding-right: 2.5rem;
}

hr {
    height: 2px;
    background-color: #fff;

}


.hero-wrapper {
    width: 100%;
    height: 470px;
    display: flex;
    border-bottom: 2px solid #fcfcfc;
    justify-content: space-between;

}

.wrapper-content {
    width: 560px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    gap: 20px;

}

.wrapper-content h1 {
    font-size: 100px;
    letter-spacing: .25px;

}

.wrapper-content p {
    font-size: 22px;
    line-height: 1.5;

}

.wrapper-img {
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.wrapper-img img {
    width: 850px;
    height: 370px;
    object-fit: contain;
}

.main {
    padding: 2rem;
}

.card {
    width: 100%;
}

.header p {
    font-size: 64px;
    color: #e8eaed;
    margin-bottom: 2rem;
}

.card-wrapper {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.card-content {
    width: 600px;
}

.card-content figure img {
    width: 100%;
    object-fit: contain;
    height: 350px;

}

.card-content figcaption p {
    font-size: 24px;
    color: #fff;
    margin: 0 0 12px 0;
}

.card-content figcaption span,
a {
    font-size: 18px;
    color: #fff;
}

.card-content figcaption #span {
    font-size: 18px;
}

.scrollspy {
    width: 100vw;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
}



.scrollspy-aside {
    width: 30vw;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: visible;
}

.aside-header h2 {
    font-size: 64px;
    color: #fff;
    font-weight: 400;
}

.navbar {
    color: #fff;
}

.navbar-nav {
    list-style-type: none;
    padding: 20px 0;
}

.nav-item {
    width: fit-content;
    margin-right: 20px;
    padding: 20px 30px;
    border: 2px solid #fff;
    margin: 16px 0;
    border-radius: 8px;
    text-align: left;
    line-height: 24px;
}

.nav-link {
    letter-spacing: 0.85px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;

}

.nav-link:hover {
    color: #f00505;
}

.nav-link.active,
.nav-link:hover.active {
    color: #0ef087;
}

.scrollspy-content-wrapper {
    width: 60vw;
}

.section {
    width: 100%;
    border: 2px solid #fcfcfc;
    border-radius: 0.75rem;
    margin-bottom: 20px;
}

.scrollspy-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 2rem;
}

.content-heading {
    padding: 2rem;
    color: #202124;
    background: linear-gradient(90deg, #4285F4 -36.98%, #4285F4 22.31%, #34A853 78.95%, #34A853 132.93%);
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #fcfcfc;
}

.content-heading h2 {
    font-size: 44px;
    font-weight: 400;
}

.content-paragraph {
    padding: 14px 48px 14px 0;
    border-bottom: 2px solid #fcfcfc;
    color: #fff;
}

.content-paragraph p {
    font-size: 16px;
    margin: 1rem 0;
    line-height: 1.6;
    font-weight: 400;
}

.content-paragraph strong {
    font-size: 24px;
    font-weight: 400;

}

footer {
    padding: 2rem;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-img {
    display: flex;
    align-items: center;
}

.footer-img img {
    width: 180px;
    height: 20px;
}


.footer-nav a {
    font-weight: 400;
    text-decoration: none;
    color: #9AA0A6;
    margin: 0 0 0 24px;

}

#footer-select select {
    width: 10rem;
    color: #9AA0A6;
    margin-left: 20px;
    border-bottom: 1px solid #9AA0A6;
    padding-left: 0;
    line-height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: right .5rem center;
    padding-right: 2.5rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-icon a i {
    font-size: 25px;
    color: #9AA0A6;
}

@media(max-width:786px) {

    .hero-wrapper {
        height: fit-content;
        flex-direction: column;

    }

    .wrapper-content {
        width: 100%;
        padding: 1rem;
    }

    .wrapper-content h1 {
        font-size: 48px;

    }

    .wrapper-content span {
        font-size: 16px;

    }

    .wrapper-content button {
        padding: 8px 18px;
        font-size: 14px;
    }

    .wrapper-img {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .wrapper-img img {
        width: 100%;
        object-fit: contain;
    }

    .main {
        padding: 1rem;
    }

    .card {
        width: 100%;
    }

    .header p {
        font-size: 28px;
        color: #e8eaed;
        margin-bottom: 2rem;
    }

    .card-wrapper {
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .card-content {
        width: 600px;
    }

    .card-content figure img {
        width: 100%;
        object-fit: contain;
        height: 350px;

    }

    .card-content figcaption p {
        font-size: 24px;
        color: #fff;
        margin: 0 0 12px 0;
    }

    .card-content figcaption span,
    a,
    #span {
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
    }

    .scrollspy {
        width: 100vw;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        position: relative;
        margin-top: 2rem;
    }



    .scrollspy-aside {
        width: 30vw;
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: visible;
    }

    .aside-header h2 {
        font-size: 64px;
        color: #fff;
        font-weight: 400;
    }

    .navbar {
        color: #fff;
    }

    .navbar-nav {
        list-style-type: none;
        padding: 20px 0;
    }

    .nav-item {
        width: fit-content;
        margin-right: 20px;
        padding: 20px 30px;
        border: 2px solid #fff;
        margin: 16px 0;
        border-radius: 8px;
        text-align: left;
        line-height: 24px;
    }

    .nav-link {
        letter-spacing: 0.85px;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;

    }

    .nav-link:hover {
        color: #f00505;
    }

    .nav-link.active,
    .nav-link:hover.active {
        color: #0ef087;
    }

    .scrollspy-content-wrapper {
        width: 60vw;
    }

    .section {
        width: 100%;
        border: 2px solid #fcfcfc;
        border-radius: 0.75rem;
        margin-bottom: 20px;
    }

    .scrollspy-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        padding: 2rem;
    }

    .content-heading {
        padding: 2rem;
        color: #202124;
        background: linear-gradient(90deg, #4285F4 -36.98%, #4285F4 22.31%, #34A853 78.95%, #34A853 132.93%);
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid #fcfcfc;
    }

    .content-heading h2 {
        font-size: 44px;
        font-weight: 400;
    }

    .content-paragraph {
        padding: 14px 48px 14px 0;
        border-bottom: 2px solid #fcfcfc;
        color: #fff;
    }

    .content-paragraph p {
        font-size: 16px;
        margin: 1rem 0;
        line-height: 1.6;
        font-weight: 400;
    }

    .content-paragraph strong {
        font-size: 24px;
        font-weight: 400;

    }
}