* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sans Regular';
}

@font-face {
    font-family: 'Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sans  Regular'), url(./assest/google-sans-cufonfonts-webfont/ProductSans-Medium.woff) format('woff');
}


body {
    background: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #202124;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 18px;
}

.nav-strart {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a,
.nav-end a {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #e8eaed;
}

.nav-end {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-button button {
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.nav-button button:hover {
    background-color: #80868B;

}

.nav-select select {
    font-size: 16px;
    padding: 8px 25px 8px 16px;
    background: #202124;
    border: none;
    color: #fff;
    outline-color: #2563EB;
    outline-width: 1px;
}

hr {
    height: 2px;
    background-color: #fff;

}


.wrapeer-one {
    width: 100%;
    height: 410px;
    display: flex;
    border-bottom: 2px solid #fcfcfc;
    justify-content: space-between;

}

.wrpper-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    gap: 28px;

}

.wrpper-content h1 {
    font-size: 100px;

}

.wrpper-content span {
    font-size: 20px;

}

.wrpper-content button {
    padding: 12px;
    font-size: 20px;
    border-radius: 35px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;

}

.wrpper-content button:hover {
    background: #EEEEEE;
    color: #000;
}

.wrpper-img {
    display: flex;
    align-items: flex-start;
}

.community-card {
    padding: 40px;
}

.searchbar-header span {
    font-size: 64px;
    color: #e8eaed;
    margin-bottom: 20px;
}

.searchbar-header p {
    font-size: 22px;
    color: #e8eaed;
    margin: 20px 0;
}

.searchbar-input input {
    width: 960px;
    height: 3.5rem;
    border: none;
    border-radius: 35px;
    padding: 1.5rem;
    font-size: 16px;
    color: #000;
    outline: none;
}

.searchbar-input input::placeholder {
    font-size: 16px;
    color: #000;
}