* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: google sans;
}

@font-face {
    font-family: google sans;
    src: url(assest/GoogleSans-Regular.ttf);
}

body {
    background: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #202124;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 18px;
}

.nav-strart {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a,
.nav-end a {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #e8eaed;
    font-weight: 500;

}

.nav-end {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-button button {
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #444;
    background-color: #fff;
    border: none;
}

.nav-select select {
    font-size: 16px;
    padding: 8px 25px 8px 16px;
    background: #202124;
    border: none;
    color: #fff;
    outline-color: #2563EB;
    outline-width: 1px;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.hero-wrapper {
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px;

}

.hero-content {
    font-size: 44px;
    color: #fff;

}

.hero-btn {}

.hero-btn p {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    padding: 20px 0;
}

.hero-btn button {
    font-size: 16px;
    padding: 10px 28px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #fff;
    background-color: #2563EB;
    border: none;
}

.hero-top-img {
    width: 690px;
    height: auto;

}

.hero-top-img img {
    width: 100%;

}

.hero-bottom-img img {
    width: 98vw;
    height: auto;
}

.timer-wrapper {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.relative {
    width: 300px;
    height: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid yellow;
    border-radius: 0.75rem;
}

.day {
    width: 300px;
    height: 150px;
    text-align: center;
    background: #202124;
    position: absolute;
    border: 2px solid yellow;
    border-radius: 0.75rem;
    border-top: none;
}

.day h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Aclonica';
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: blue;

}

.day-hsl {
    width: 300px;
    background-image: linear-gradient(270deg, rgb(83, 130, 235) 1.91%, rgb(83, 130, 235) 25.69%, rgb(159, 108, 212) 51.37%, rgb(234, 67, 53) 79.9%, rgb(234, 67, 53) 97.02%);
    position: absolute;
    height: 20px;
    bottom: 16px;
    border: 2px solid yellow;
    border-top: none;
    border-radius: ;
}

.day-hsl-2 {
    width: 300px;
    background-color: #1ad6d9;
    position: absolute;
    height: 20px;
    bottom: 0;
    border: 2px solid yellow;
    border-radius: 0.75rem;
    border-top: 0;
}