* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: google sans;
}

@font-face {
    font-family: google sans;
    src: url(assest/GoogleSans-Regular.ttf);
}

body {
    background: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #202124;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 18px;
}

.nav-strart {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a,
.nav-end a {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #e8eaed;
    font-weight: 500;

}

.nav-end {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-button button {
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #444;
    background-color: #fff;
    border: none;
}

.nav-select select {
    font-size: 16px;
    padding: 8px 25px 8px 16px;
    background: #202124;
    border: none;
    color: #fff;
    outline-color: #2563EB;
    outline-width: 1px;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.hero-wrapper {
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px;

}

.hero-content {
    font-size: 44px;
    color: #fff;

}

.hero-btn {}

.hero-btn p {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    padding: 20px 0;
}

.hero-btn button {
    font-size: 16px;
    padding: 10px 28px;
    border-radius: 35px;
    text-transform: capitalize;
    color: #fff;
    background-color: #2563EB;
    border: none;
}

.hero-top-img {
    width: 690px;
    height: auto;

}

.hero-top-img img {
    width: 100%;

}

.hero-bottom-img img {
    width: 98vw;
    height: auto;
}

.timer-wrapper {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.relative {
    width: 300px;
    height: 180px;
    background-image: linear-gradient(90deg, rgb(66, 133, 244) -36.98%, rgb(66, 133, 244) 22.31%, rgb(52, 168, 83) 78.95%, rgb(52, 168, 83) 132.93%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid #fcfcfc;
    border-radius: 0.75rem;
}

.day {
    width: 100%;
    height: 150px;
    text-align: center;
    background: #202124;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    border: 1px solid #fcfcfc;
    border-radius: 0.75rem;
    color: #fff;
}

.day h2 {
    font-size: 70px;
    text-transform: uppercase;
}

.day span {
    font-size: 20px;
    text-transform: uppercase;
}

/* .relative::before {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(90deg, rgb(66, 133, 244) -36.98%, rgb(66, 133, 244) 22.31%, rgb(52, 168, 83) 78.95%, rgb(52, 168, 83) 132.93%);
    position: absolute;
    background-color: #b90b0b;
    border: 2px solid #fcfcfc;
    border-radius: 4px;
} */

.relative::after {
    content: '';
    position: absolute;
    bottom: -19px;
    width: 299px;
    height: 20px;
    background-image: linear-gradient(90deg, rgb(66, 133, 244) -36.98%, rgb(66, 133, 244) 22.31%, rgb(52, 168, 83) 78.95%, rgb(52, 168, 83) 132.93%);
    border: 1px solid #fcfcfc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

/* .day-hsl-2 {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid #fcfcfc;
    border-radius: 6px;
    border-top: none;
    background-color: azure;
} */